<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ninja_style.css') }}">
    <title>Disappearing Ninjas</title>
  </head>
  <body>
    <h1>Ninjas</h1>
     {% if ninja == 'all' %}
      <img src="{{ url_for('static', filename='img/ninjas/donatello.jpg') }}" alt="donatello" />
      <img src="{{ url_for('static', filename='img/ninjas/leonardo.jpg') }}" alt="leonardo" />
      <img src="{{ url_for('static', filename='img/ninjas/michelangelo.jpg') }}" alt="michelangelo" />
      <img src="{{ url_for('static', filename='img/ninjas/raphael.jpg') }}" alt="raphael" />
     {% endif %}
     <img src="/static/img/ninjas/{{ninja}}.jpg" alt="{{ninja}}" />


  </body>
</html>
